---
import BaseLayout from "src/layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
import FAQ from "@components/FAQ.astro";

// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)
import {getOptimizedImage} from "@js/utils"
import landingImage from "@assets/images/landing.jpg" // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
const optimizedImage = await getOptimizedImage(landingImage)
---

<BaseLayout
  title="Pixel Perfect Websites"
  description="Meta description for the page"
  preloadedImage = {optimizedImage}
>
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1619">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper">
              <svg class="cs-chevron" width="49" height="15" viewBox="0 0 49 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g opacity="0.7">
                  <path d="M0.621948 7.49889L6.40262 15L10.343 15L4.56231 7.49889L10.343 -4.2492e-07L6.40262 -2.52681e-07L0.621948 7.49889Z" fill="var(--chevronColor)"/>
                  <path d="M7.62195 7.49889L13.4026 15L17.343 15L11.5623 7.49889L17.343 -4.2492e-07L13.4026 -2.52681e-07L7.62195 7.49889Z" fill="var(--chevronColor)"/>
                  <path d="M14.7789 7.49889L20.5596 15L24.5 15L18.7193 7.49889L24.5 -4.2492e-07L20.5596 -2.52681e-07L14.7789 7.49889Z" fill="var(--chevronColor)"/>
                  <path d="M22.7789 7.49889L28.5596 15L32.5 15L26.7193 7.49889L32.5 -4.2492e-07L28.5596 -2.52681e-07L22.7789 7.49889Z" fill="var(--chevronColor)"/>
                  <path d="M30.7789 7.49889L36.5596 15L40.5 15L34.7193 7.49889L40.5 -4.2492e-07L36.5596 -2.52681e-07L30.7789 7.49889Z" fill="var(--chevronColor)"/>
                  <path d="M38.7789 7.49889L44.5596 15L48.5 15L42.7193 7.49889L48.5 -4.2492e-07L44.5596 -2.52681e-07L38.7789 7.49889Z" fill="var(--chevronColor)"/>
                  </g>
              </svg>
              Plan for A secure future
              <svg class="cs-chevron" width="49" height="15" viewBox="0 0 49 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g opacity="0.7">
                  <path d="M48.3781 7.49889L42.5974 15L38.657 15L44.4377 7.49889L38.657 -4.2492e-07L42.5974 -2.52681e-07L48.3781 7.49889Z" fill="var(--chevronColor)"/>
                  <path d="M41.3781 7.49889L35.5974 15L31.657 15L37.4377 7.49889L31.657 -4.2492e-07L35.5974 -2.52681e-07L41.3781 7.49889Z" fill="var(--chevronColor)"/>
                  <path d="M34.2211 7.49889L28.4404 15L24.5 15L30.2807 7.49889L24.5 -4.2492e-07L28.4404 -2.52681e-07L34.2211 7.49889Z" fill="var(--chevronColor)"/>
                  <path d="M26.2211 7.49889L20.4404 15L16.5 15L22.2807 7.49889L16.5 -4.2492e-07L20.4404 -2.52681e-07L26.2211 7.49889Z" fill="var(--chevronColor)"/>
                  <path d="M18.2211 7.49889L12.4404 15L8.50004 15L14.2807 7.49889L8.50004 -4.2492e-07L12.4404 -2.52681e-07L18.2211 7.49889Z" fill="var(--chevronColor)"/>
                  <path d="M10.2211 7.49889L4.4404 15L0.500041 15L6.28071 7.49889L0.500042 -4.2492e-07L4.4404 -2.52681e-07L10.2211 7.49889Z" fill="var(--chevronColor)"/>
                  </g>
              </svg>
          </span>
          <h1 class="cs-title">Elevate Your Performance With Our Leading-Edge Consulting Solutions</h1>
          <a href="" class="cs-button-solid">Request Appointment</a>
      </div>
      <ul class="cs-card-group">
          <li class="cs-item">
              <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/check-circle.svg" alt="icon" width="48" height="48">
              <h3 class="cs-h3">100% Success Rate</h3>
              <p class="cs-item-text">
                  We provide some of the finest quality, most responsive and reliable, and cost effective services and solutions.
              </p>
          </li>
          <li class="cs-item">
              <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/speedometer.svg" alt="icon" width="48" height="48">
              <h3 class="cs-h3">Expert Legal Services</h3>
              <p class="cs-item-text">
                  We provide some of the finest quality, most responsive and reliable, and cost effective services and solutions.
              </p>
          </li>
          <li class="cs-item">
              <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/Like.svg" alt="icon" width="48" height="48">
              <h3 class="cs-h3">Highly Recommend</h3>
              <p class="cs-item-text">
                  We provide some of the finest quality, most responsive and reliable, and cost effective services and solutions.
              </p>
          </li>
          <li class="cs-item">
              <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/Like.svg" alt="icon" width="48" height="48">
              <h3 class="cs-h3">Highly Recommend</h3>
              <p class="cs-item-text">
                  We provide some of the finest quality, most responsive and reliable, and cost effective services and solutions.
              </p>
          </li>
      </ul>
  </div>

  <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
  <picture class="cs-background">
      <source media="(max-width: 600px)" srcset="src/assets/images/home-hero-bg.webp">
      <source media="(min-width: 601px)" srcset="src/assets/images/home-hero-bg.webp">
      <img decoding="async" src="src/assets/images/home-hero-bg.webp" alt="meeting" width="2250" height="1500" aria-hidden="true">
  </picture>
</section>
<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1308">
  <div class="cs-container">
      <!-- Left Image Section -->
      <div class="cs-image-group">
          <!--Floating Box-->
          <div class="cs-box">
              <span class="cs-desc">Accounting &  support of your business</span>
          </div>
          <!--Image-->
          <picture class="cs-picture">
              <source media="(max-width: 600px)" srcset="src/assets/images/headshot.webp">
              <source media="(min-width: 601px)" srcset="src/assets/images/headshot.webp">
              <img loading="lazy" decoding="async" src="src/assets/images/headshot.webp" alt="meeting" width="630" height="630" aria-hidden="true">
          </picture>
      </div>
      <!-- Right Content Section-->
      <div class="cs-content">
          <span class="cs-topper">About Us</span>
          <h2 class="cs-title">Get Help on Finance</h2>
          <p class="cs-text">
              In the new era of technology we look in the future with certainty and pride for our company and business. consider all the drivers of change gives you the blocks & pride for our components you need to change to create a truly professional website In the new era.
          </p>
          <a class="cs-button-solid" aria-label="learn more about our programs" href="">Learn More</a>
          <ul class="cs-ul">
              <li class="cs-item">
                  <span class="cs-number">150 +</span>
                  <h3 class="cs-h3">Staff on three continents</h3>
              </li>
              <li class="cs-item">
                  <span class="cs-number">700 +</span>
                  <h3 class="cs-h3">Consulting engagements</h3>
              </li>
              <li class="cs-item">
                  <span class="cs-number">180 +</span>
                  <h3 class="cs-h3">Learning community members</h3>
              </li>
          </ul>
      </div>
  </div>
</section>
                              
<!-- ============================================ -->
<!--                  Blinds Section              -->
<!-- ============================================ -->
<section id="services-1628">
  <div class="cs-container">
      <div class="cs-content">
          <div class="cs-flex">
              <span class="cs-topper">Our Services</span>
              <h2 class="cs-title">Grow Your Business with Our New Bold Agency</h2>
          </div>
          <p class="cs-text">
              Aqestic recusandae laudantium optio amet a quisquam saepe aliquid, voluptate praesentium dicta fuga dolor error perspiciatis voluptatem eum cupiditate totam reiciendis quam minus inventore sint rem impedit esse quasi Tenetur sed reprehenderit earum a magni aliquid blanditiis dolores, veritatis soluta autem beatae officia expedita ipsum rerum doloribus sit provident delectus.
          </p>
      </div>                  
      <ul class="cs-card-group">
          <li class="cs-item">
              <a href="" class="cs-link">
                  <picture class="cs-picture">
                      <!--Mobile Image-->
                      <source media="(max-width: 600px)" srcset="src/assets/images/fauxwoodblinds.webp">
                      <!--Tablet and above Image-->
                      <source media="(min-width: 601px)" srcset="src/assets/images/fauxwoodblinds.webp">
                      <img loading="lazy" decoding="async" src="src/assets/images/fauxwoodblinds.webp" alt="room" width="413" height="420">
                  </picture>
                  <h3 class="cs-h3">Fauxwood Blinds</h3>
                  <p class="cs-item-text">
                      We provide some of the finest quality, most reliable, and cost effective services and solutions.
                  </p>
                  <span class="cs-fake-link">
                      Get Started
                      <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                  </span>
              </a>
          </li>
          <li class="cs-item">
              <a href="" class="cs-link">
                  <picture class="cs-picture">
                      <!--Mobile Image-->
                      <source media="(max-width: 600px)" srcset="src/assets/images/plantationshutters.webp">
                      <!--Tablet and above Image-->
                      <source media="(min-width: 601px)" srcset="src/assets/images/plantationshutters.webp">
                      <img loading="lazy" decoding="async" src="src/assets/images/plantationshutters.webp" alt="room" width="413" height="420">
                  </picture>
                  <h3 class="cs-h3">Plantation Shutters</h3>
                  <p class="cs-item-text">
                      We provide some of the finest quality, most reliable, and cost effective services and solutions.
                  </p>
                  <span class="cs-fake-link">
                      Get Started
                      <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                  </span>
              </a>
          </li>
          <li class="cs-item">
              <a href="" class="cs-link">
                  <picture class="cs-picture">
                      <!--Mobile Image-->
                      <source media="(max-width: 600px)" srcset="src/assets/images/curtains.webp">
                      <!--Tablet and above Image-->
                      <source media="(min-width: 601px)" srcset="src/assets/images/curtains.webp">
                      <img loading="lazy" decoding="async" src="src/assets/images/curtains.webp" alt="room" width="413" height="420">
                  </picture>
                  <h3 class="cs-h3">Shades</h3>
                  <p class="cs-item-text">
                      We provide some of the finest quality, most reliable, and cost effective services and solutions.
                  </p>
                  <span class="cs-fake-link">
                      Get Started
                      <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                  </span>
              </a>
          </li>
          <li class="cs-item">
              <a href="" class="cs-link">
                  <picture class="cs-picture">
                      <!--Mobile Image-->
                      <source media="(max-width: 600px)" srcset="src/assets/images/motorized.webp">
                      <!--Tablet and above Image-->
                      <source media="(min-width: 601px)" srcset="src/assets/images/motorized.webp">
                      <img loading="lazy" decoding="async" src="src/assets/images/motorized.webp" alt="room" width="413" height="420">
                  </picture>
                  <h3 class="cs-h3">Motorized</h3>
                  <p class="cs-item-text">
                      We provide some of the finest quality, most reliable, and cost effective services and solutions.
                  </p>
                  <span class="cs-fake-link">
                      Get Started
                      <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                  </span>
              </a>
          </li>
      </ul>
  </div>
</section>
  
  <!-- ============================================ -->
  <!--                   Reviews                    -->
  <!-- ============================================ -->

  <section id="reviews">
    <div class="cs-container">
      <span class="cs-topper">Our Reviews</span>
      <h2 class="cs-title">Words From Our Customers</h2>
      <p class="cs-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit dolor
        volutpat porttitor sagittis nunc nisl. Sagittis sit pellentesque gravida
        viverra. Leo ut sed euismod tortor risus et. Ornare non neque, leo,
        ornare. Lorem ipsum dolor sit amet.
      </p>
      <ul class="cs-card-group">
        <!-- Review 1 -->
        <li class="cs-item">
          <img
            class="cs-item-img"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile5.png"
            alt="profile picture"
            width="80"
            height="80"
          />
          <p class="cs-item-p">
            Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor
            habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed
            ullamcorper lectus et. Auctor velit diam fermentum consequat.
            Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
          </p>
          <span class="cs-reviewer">
            Jon Doe
            <span class="cs-desc">Homeowner</span>
          </span>
          <img
            class="cs-item-stars"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
            alt="stars"
            width="96"
            height="16"
          />
        </li>
        <!-- Review 2 -->
        <li class="cs-item">
          <img
            class="cs-item-img"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile-4.png"
            alt="profile picture"
            width="80"
            height="80"
          />
          <p class="cs-item-p">
            Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor
            habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed
            ullamcorper lectus et. Auctor velit diam fermentum consequat.
            Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
          </p>
          <span class="cs-reviewer">
            Jane Doe
            <span class="cs-desc">Homeowner</span>
          </span>
          <img
            class="cs-item-stars"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
            alt="stars"
            width="96"
            height="16"
          />
        </li>
      </ul>
      <a aria-label="read more reviews" href="/reviews" class="cs-button-solid"
        >Our Reviews</a
      >
    </div>
  </section>
  <!-- ============================================ -->
  <!--                   CTA                        -->
  <!-- ============================================ -->
  <CTA />
</BaseLayout>

<!-- ============================================ -->
<!--                    Styles                    -->
<!-- ============================================ -->


<style lang="less">
  /* STYLES FOR ABOVE THE FOLD */

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-1619 {
        padding: var(--sectionPadding);
	    /* 200px - 300px - leaving extra space for the navigation */
        padding-top: clamp(12.5rem, 31.95vw, 18.75rem);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 60px - 180px */
            gap: clamp(3.75rem, 13vw, 11.25rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (780/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-topper {
            /* 13px - 16px */
            font-size: clamp(.8125rem, 1.5vw, 1rem);
            line-height: 1.2em;
            font-weight: 700;
            letter-spacing: 0.1em;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: (4/16rem);
            color: var(--primary);
            display: flex;
            justify-content: center;
            align-items: center;
            gap: (8/16rem);
            position: relative;
        }

        .cs-chevron {
            --chevronColor: var(--primary);

            width: (48/16rem);
            height: auto;
        }

        .cs-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.40vw, 3.8125rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: inherit;
            max-width: 100%;
            margin: 0 0 (40/16rem) 0;
            color: #fff;
            position: relative;
        }

        .cs-text {
            /* 16px - 20px */
            font-size: clamp( 1rem,1.95vw, 1.25rem);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            /* 464px - 622px */
            max-width: clamp(29rem, 60vw, 38.785rem);
            margin: 0 0 (40/16rem) 0;
            color: #fff;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
	    	font-weight: 700;
            margin: 0;
            color: #fff;
            padding: 0 (24/16rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: '';
                position: absolute;
                display: block;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width .3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-card-group {
            margin: 0;
            padding: 0;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2.3vw, 1.25rem);
        }

        .cs-item {
            width: 100%;
            text-align: left;
            list-style: none;
            margin:0;
            /* 24px - 32px */
            padding: clamp(1.5rem, 3vw, 2rem);
            background-color: #fff;
            box-shadow: 0px 12px 80px 0px rgba(26, 26, 26, 0.08);
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            grid-column: span 12;
            grid-row: span 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            position: relative;
            z-index: 1;
        }
        .cs-icon {
            width: (48/16rem);
            height: auto;
            margin: 0 0 (24/16rem) 0;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: bold;
            text-align: inherit;
            margin: 0 0 (16/16rem) 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            max-width: (450/16rem);
            margin: 0;
            padding: 0;
            color: var(--bodyTextColor);
        }

        .cs-background {
            width: 100%;
            height: 55%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;

            &:before {
                /* Overlay */
                content: '';
                width: 100%;
                height: 100%;
                background: #111926;
                opacity: .8;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 1;
                /* prevents the cursor from interacting with it */
                pointer-events: none;
            }
            
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                /* makes the top of the image start at the top of the parent */
                object-position: top;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #hero-1619 {
        padding-bottom: 0;
        .cs-container {
            align-items: flex-start;
        }

        .cs-content {
            text-align: left;
            margin-left: 0;
            align-items: flex-start;
        }

        .cs-item {
            grid-column: span 6;
        }

        .cs-background {
            height:87%;
            &:before {
                background: linear-gradient(90deg, #111926 21.41%, rgba(17, 25, 38, 0.72) 34.98%, rgba(17, 25, 38, 0.00) 62.53%);
                opacity: 1;
            }
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #hero-1619 {
        .cs-item {
            grid-column: span 3;
        }
    }
}
                                
/* Large Desktop Parallax Effect - 100px */
@media only screen and (min-width: 100rem) {
    #hero-1619 {
        .cs-background {
            background: url("src/assets/images/home-hero-bg.webp");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            /* creates the parallax effect */
            background-attachment: fixed;
            img {
                display: none;
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #hero-1619 {
            .cs-item {
                background-color: var(--medium);
            }

            .cs-h3, .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-icon {
                filter: grayscale(1) brightness(1000%);
            }

            .cs-text {
                opacity: .8;
            }

            .cs-background {
                background-color: #000;

                img {
                    opacity: .5;
                }
            }
        }
    }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-1308 {
        padding: var(--sectionPadding);
        overflow: hidden;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: clamp(3rem, 4vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (542/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            position: relative;
            z-index: 10;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #1a1a1a;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-ul {
            width: 100%;
            padding: 0;
            /* 32px - 48px */
            margin: clamp(2rem, 5vw, 3rem) 0 0 0;
            /* 32px - 48px */
            padding: clamp(2rem, 5vw, 3rem) 0 0 0;
            border-top: 1px solid #e8e8e8;
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: (12/16rem);
        }

        .cs-item {
            list-style: none;
            width: 32%;
            /* making flex so we can align a heading with 1 line to the bottom */
            display: flex;
            flex-direction: column;
            align-self: stretch;
            align-content: space-between;
        }

        .cs-number {
            font-size: (25/16rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: left;
            color: var(--primary);
            display: block;
            margin: 0 0 (8/16rem) 0;
        }

        .cs-h3 {
            font-size: (16/16rem);
            line-height: 1.5em;
            font-weight: 400;
            text-align: left;
            /* auto margin top will push text to bottom if there's only one line */
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-image-group {
            width: 100%;
            max-width: (670/16rem);
            height: 100vw;
            max-height: (630/16rem);
            position: relative;
            display: block;
            z-index: 1;
        }

        .cs-picture {
            /* big background image */
            width: 93%;
            height: 93%;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-box {
            text-align: left;
            width: 70%;
            max-width: (304/16rem);
            /* 20px - 40px */
            padding: clamp(1.25rem, 4vw, 2.5rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            background-color: #1a1a1a;
            display: inline-flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: (8/16rem);
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 10;
        }

        .cs-desc {
            /* 16px - 31px */
            font-size: clamp(1rem, 2.5vw, 1.9375rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: inherit;
            width: 100%;
            color: var(--bodyTextColorWhite);
            position: relative;
            z-index: 10;
        }

        .cs-graphic {
            width: 150%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-1308 {
        .cs-container {
            max-width: (1280/16rem);
            /* set to horizontal arrangement */
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-content {
            width: 48%;
            padding: (48/16rem) 0;
            align-self: center;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-image-group {
            width: 55%;
            max-width: (670/16rem);
            min-height: (670/16rem);
            max-height: 100%;
            height: auto;
            margin: 0;
        }

        .cs-picture {
            width: 93%;
            height: 94%;
        }

        .cs-box {
            bottom: (0/16rem);
        }

        .cs-graphic {
            max-width: (715/16rem);
            left: auto;
            right: (130/16rem);
            transform: translateY(-50%);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-1308 {
            .cs-title,
            .cs-text,
            .cs-h3 {
                color: var(--bodyTextColorWhite);
            }

            .cs-link {
                color: var(--secondaryLight);
            }

            .cs-text,
            .cs-h3 {
                opacity: 0.8;
            }

            .cs-box {
                background-color: var(--medium);
            }
        }
    }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1628 {
        padding: var(--sectionPadding);
        background-color: #f7f7f7;
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16em);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }
    
        .cs-title {
            max-width: 20ch;
        }

        .cs-text {
            max-width: (640/16rem);
            position: relative;
            z-index: 1;

            &:after {
                /* divider line */
                content: "";
                width: 100%;
                height: 1px;
                margin-top: (24/16rem);
                background: var(--primary);
                opacity: 1;
                display: block;
                position: relative;
            }
        }

        .cs-chevron {
            --chevronColor: var(--primary);

            width: (48/16rem);
            height: auto;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            column-gap: clamp(1rem, 2.5vw, 1.25rem);
            /* 28px - 40px */
            row-gap: clamp(1.75rem, 2.5vw, 2.5rem);
        }
        
        .cs-item {
            list-style: none;
            width: 100%;
            display: flex;
            grid-column: span 12;
            flex-direction: column;
            align-items: flex-start;

            &:hover {
                .cs-picture {
                    img {
                        opacity: .5;
                        transform: scale(1.2);
                    }
                }
            }
        }

        .cs-link {
            text-decoration: none;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-picture {
            width: 100%;
            height: (240/16rem);
            margin-bottom: (24/16rem);
            background-color: #000;
            overflow: hidden;
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: transform .6s, opacity .3s;
            }
        }

        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: left;
            margin: 0 0 (12/16rem) 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            text-align: left;
            margin: 0 0 (24/16rem) 0;
            color: var(--bodyTextColor);
        }

        .cs-fake-link {
            font-size: (16/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            margin-top: auto;
            color: var(--primary);
            display: inline-flex;
            justify-content: flex-start;
            align-items: center;
            gap: (8/16rem);

            &:hover {
                .cs-icon {
                    transform: translateX(.5rem);
                }
            }
        }

        .cs-icon {
            width: (20/16rem);
            height: auto;
            display: block;
            transition: transform .3s;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1628 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-content {
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .cs-flex {
            text-align: left;
            width: 40vw;
            max-width: (640/16rem);
            flex: none;
        }

        .cs-title {
            margin: 0;
        }

        .cs-text {
            padding: (12/16rem) 0 (12/16rem) (24/16rem);

            &:after {
                width: 1px;
                height: 100%;
                margin: 0 (24/16rem) 0 0;
                order: -1;
                position: absolute;
                left: 0;
                top: 0;
            }
        }

        .cs-item {
            grid-column: span 6;
        }

        .cs-picture {
            /* 240px - 420px */
            height: clamp(15rem, 33vw, 26.25rem);
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #services-1628 {
        .cs-item {
            grid-column: span 3;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-1628 {
            background-color: rgba(0, 0, 0, .2);

            .cs-title, .cs-text, .cs-h3, .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text, .cs-item-text {
                opacity: .8;
            }
        }
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0em) {
    #reviews {
      /* Centers the button */
      text-align: center;
      padding: var(--sectionPadding);

      .cs-container {
        width: 100%;
        max-width: (1104/16rem);
        margin: auto;
      }

      .cs-topper {
        text-align: center;
        margin-bottom: (16/16rem);
      }

      .cs-title {
        text-align: center;
        max-width: (700/16rem);
      }

      .cs-text {
        text-align: center;
        max-width: (650/16rem);
        /* 88px - 104px */
        margin-bottom: clamp(5.5em, 10.2vw, 6.5em);
      }

      .cs-card-group {
        /* 48px - 64px */
        margin: 0 auto clamp(3rem, 5vw, 4rem);
        padding: 0;
      }

      .cs-item {
        text-align: left;
        list-style: none;
        width: 100%;
        max-width: (542/16rem);
        margin: 0 auto (64/16rem);
        /* Prevents padding from affecting height & width */
        box-sizing: border-box;
        /* Padding L & R - 16px - 32px */
        padding: (60/16rem) clamp(1rem, 3.2vw, 2rem) 0;
        /* 32px - 40px */
        padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
        background: #fff;
        box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
        border-radius: (4/16rem);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        position: relative;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      .cs-item-img {
        width: (80/16rem);
        height: (80/16rem);
        position: absolute;
        top: (-40/16rem);
      }

      .cs-item-p {
        font-size: (16/16rem);
        line-height: 1.5em;
        margin: 0 0 (20/16rem);
        padding-bottom: (20/16rem);
        color: var(--bodyTextColor);
        border-bottom: 1px solid #e8e9ec;
      }

      .cs-reviewer {
        font-size: (16/16rem);
        font-weight: 700;
        line-height: 1.5em;
        width: 40%;
        margin: 0 auto 0 0;
        color: var(--headerColor);
        display: block;
      }

      .cs-desc {
        font-size: (14/16rem);
        font-weight: 400;
        color: var(#353535);
        display: block;
      }

      .cs-item-stars {
        width: (96/16rem);
        height: (16/16rem);
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48em) {
    #reviews {
      .cs-card-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: (16/16rem);
      }

      .cs-item {
        /* reset margin so it won't interfere with flexbox */
        margin: 0;
      }
    }
  }

  /* Dark Mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode {
      #reviews {
        .cs-title,
        .cs-text,
        .cs-item-p,
        .cs-reviewer {
          color: var(--bodyTextColorWhite);
        }

        .cs-item {
          background: var(--medium);
        }

        .cs-desc {
          color: var(--primaryLight);
        }
      }
    }
  }
</style>

