---
import BaseLayout from "src/layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";

// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)
import {getOptimizedImage} from "@js/utils"
import landingImage from "@assets/images/landing.jpg" // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
const optimizedImage = await getOptimizedImage(landingImage)
---

<BaseLayout
  title="Boutique Shutters | Custom Window Shutters in Georgia & Metro Atlanta"
  description="Elevate your home with premium shutters, shades & motorized window treatments in Suwanee, Johns Creek & Metro Atlanta. Free in-home design consultations."
  preloadedImage = {optimizedImage}
>
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106">
    <div class="cs-container">
        <span class="cs-int-title">Zebra Shades</span>
        <div class="cs-breadcrumbs">
            <a href="" class="cs-link">Home</a>
            <a href="" class="cs-link cs-active">Zebra Shades</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/zebra-shades/zebra-shades-interior.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/zebra-shades/zebra-shades-interior.jpg">
        <img decoding="async" src="/assets/images/zebra-shades/zebra-shades-interior.jpg" alt="mechanic" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-2346">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">The Best Place for Your Dream Vacation is Here, Where Luxury Meets Tranquility</h2>
            <p class="cs-text">
                At ArchiStitch, we seamlessly blend innovative design with functionality, creating spaces that inspire, elevate, and endure. From visionary concepts to flawless execution, we craft architectural masterpieces. Urban design draws together the many strands of place-making, environmental stewardship. We craft premium digital work for web, mobile and experiential with creative agencies and global brands.
            </p>
            <a href="" class="cs-button-solid">Learn More</a>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building29.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building29.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building29.jpg" alt="building" width="1280" height="568">
        </picture>
    </div>
</section>
             
<!-- ============================================ -->
<!--                 Services                     -->
<!-- ============================================ -->
                                
<section id="services-2346">
    <ul class="cs-card-group">
        <li class="cs-item">
            <a href="" class="cs-link">
                <img class="cs-icon" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/arch7.svg" alt="icon" width="24" height="24">
                <h2 class="cs-h2">Expensive Living Spaces</h2>
                <p class="cs-item-text">
                    Urban design draws together the many strands of place-making, environmental stewardship.
                </p>
            </a>
        </li>
        <li class="cs-item">
            <a href="" class="cs-link">
                <img class="cs-icon" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/arch8.svg" alt="icon" width="24" height="24">
                <h2 class="cs-h2">Smart Home Integration</h2>
                <p class="cs-item-text">
                    Urban design draws together the many strands of place-making, environmental stewardship.
                </p>
            </a>
        </li>
        <li class="cs-item">
            <a href="" class="cs-link">
                <img class="cs-icon" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/arch9.svg" alt="icon" width="24" height="24">
                <h2 class="cs-h2">Home Security System</h2>
                <p class="cs-item-text">
                    Urban design draws together the many strands of place-making, environmental stewardship.
                </p>
            </a>
        </li>
        <li class="cs-item">
            <a href="" class="cs-link">
                <img class="cs-icon" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/arch10.svg" alt="icon" width="24" height="24">
                <h2 class="cs-h2">Covered Parking</h2>
                <p class="cs-item-text">
                    Urban design draws together the many strands of place-making, environmental stewardship.
                </p>
            </a>
        </li>
    </ul>
</section>

<!-- ============================================ -->
<!--                 Promotions                   -->
<!-- ============================================ -->

<section id="hero-1590">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item cs-item1">
                <div class="cs-content">
                    <h1 class="cs-title">Stitch Smart Watches Collection</h1>
                    <p class="cs-text">
                        Explore our exquisite watch collection, where timepieces become timeless treasures. From classic elegance to modern innovation, our curated selection offers something for every style and occasion.
                    </p>
                    <a href="" class="cs-button-solid">Shop Now</a>
                </div>
                <picture class="cs-background">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/watch-m.png"/>
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/watch.jpg"/>
                    <img loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/watch.jpg" alt="kids"
                        width="220" height="220" aria-hidden="true"/>
                </picture>
            </li>
            <li class="cs-item cs-item2">
                <div class="cs-flex">
                    <h3 class="cs-h3">Up to 70% Off on Furniture & Decor</h3>
                    <a href="" class="cs-button-solid">Shop Now</a>
                </div>
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/table.png"/>
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/table.png"/>
                        <img loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/table.png" alt="kids"
                            width="220" height="220" aria-hidden="true"/>
                    </picture>
                </div>
            </li>
            <li class="cs-item cs-item3">
                <div class="cs-flex">
                    <h3 class="cs-h3">Up to 45% Off on All Tablewear</h3>
                    <a href="" class="cs-button-solid">Shop Now</a>
                </div>
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/stool.png"/>
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/stool.png"/>
                        <img loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/stool.png" alt="kids"
                            width="220" height="220" aria-hidden="true"/>
                    </picture>
                </div>
            </li>
        </ul>
    </div>
</section>



<CTA/>

</BaseLayout>




<style lang="less">
    /*-- -------------------------- -->
    <---          Banner            -->
    <--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #banner-1106 {
        padding: var(--sectionPadding);
        padding-top: (250/16rem);
        padding-bottom: (120/16rem);
        /* clips the line from causing overflow issues for going off screen */
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            text-align: center;
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: (12/16rem);
        }

        .cs-int-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColorWhite);
            position: relative;
        }

        .cs-breadcrumbs {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-link {
            font-size: (16/16rem);
            line-height: 1.2em;
            text-decoration: none;
            color: var(--bodyTextColorWhite);
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &:last-of-type {
                /* remove the chevron on the last list item */
                &::after {
                    display: none;
                }
            }

            &:after {
                /* chevron */
                content: "";
                width: (7/16rem);
                height: (12/16rem);
                margin: 0 (16/16rem);
                background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/white-chev.svg");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;
                display: block;
            }

            &.cs-active {
                color: var(--secondary);
            }
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* background color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: -moz-linear-gradient(
                    left,
                    rgba(26, 26, 26, 0.94) 0%,
                    rgba(26, 26, 26, 0) 100%
                ); /* FF3.6-15 */
                background: -webkit-linear-gradient(
                    left,
                    rgba(26, 26, 26, 0.94) 0%,
                    rgba(26, 26, 26, 0) 100%
                ); /* Chrome10-25,Safari5.1-6 */
                opacity: 1;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }
    }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
    #sbs-2346 {
        padding: var(--sectionPadding);
        padding-bottom: 0;
        /* clips anything overflowing */
        overflow: hidden;
        position: relative;
        z-index: 1;
        
        .cs-container {
            width: 100%;
            max-width: (1800/16rem);
            margin: auto;
            /* 16px - 80px */
            padding: clamp(1rem, 5vw, 5rem);
            padding-bottom: 0;
            box-sizing: border-box;
            background-color: #F1EEEC;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (766/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            position: relative;
            z-index: 3;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;
            min-width: (150/16rem);
            margin: 0;
            padding: 0 (24/16rem);
            background-color: var(--primary);
            color: var(--bodyTextColorWhite);
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                border-radius: (4/16rem);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-picture {
            width: 100%;
            height: 95vw;
            max-height: (450/16rem);
            display: block;
            order: -1;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-2346 {
        .cs-container {
            flex-direction: row;
            align-items: stretch;
            justify-content: space-between;
        }

        .cs-content {
            /* 48px - 80px */
            padding: clamp(3rem, 6vw, 5rem) 0;
        }

        .cs-picture {
            width: 43vw;
            height: auto;
            max-height: 100%;
            max-width: (810/16rem);
            flex: none;
        }
    }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
    #services-2346 {
        padding: var(--sectionPadding);
        padding-top: 0;

        .cs-card-group {
            width: 100%;
            max-width: (1800/16rem);
            margin: 0 auto;
            /* 48px - 80px */
            padding: clamp(1rem, 5vw, 5rem);
            /* 48px - 64px */
            padding-top: clamp(3rem, 7vw, 4rem);
            background-color: #F1EEEC;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px, changes to 100px at large desktop 1300px */
            column-gap: clamp(1rem, 3vw, 1.25rem);
            row-gap: (32/16rem);
        }

        .cs-item {
            list-style: none;
            text-align: left;
            margin: 0;
            padding: 0;
            grid-column: span 12;
        }

        .cs-link {
            text-decoration: none;
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .cs-icon {
            width: (24/16rem);
            height: auto;
            margin-bottom: (24/16rem);
            display: block;
        }

        .cs-h2 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 3vw, 1.5625rem);
            text-align: inherit;
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 (16/16rem);
            padding-bottom: (16/16rem);
            height: 100%;
            color: var(--headerColor);
            border-bottom: 1px solid #E3DDD9;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: (16/16rem);
        }

        .cs-icon {
            width: (24/16rem);
            height: auto;
            display: block;
        }

        .cs-item-text {
            font-size: (16/16rem);
            text-align: inherit;
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-2346 {
        .cs-item {
            grid-column: span 6;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #services-2346 {
        .cs-item {
            grid-column: span 3;
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #services-2346 {
        .cs-card-group {
            column-gap: (100/16rem);
        }
    }
}
                                
/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-1590 {
        padding: var(--sectionPadding);
        /* 150px - 250px - leaving extra space for the navigation */
        padding-top: clamp(9.375rem, 25.95vw, 15.625rem);
        position: relative;
        z-index: 1;
        overflow: hidden;

        .cs-container {
            width: 100%;
            /* changes to 1720px at desktop */
            max-width: (550/16rem);
            margin: auto;
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: (590/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-item1 {
            list-style: none;
            /* 60px - 120px top */
            /* 16px - 48px left & right */
            padding: clamp(3.75rem, 7vw, 7.5rem) clamp(1rem, 3vw, 3rem) (165/16rem);
            box-sizing: border-box;
            grid-column: span 12;
            position: relative;
            z-index: 1;
        }

        .cs-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.40vw, 3.8125rem);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            max-width: 20ch;
            margin: 0 0 (16/16rem) 0;
            color: var(--headerColor);
            position: relative;
        }

        .cs-text {
            /* 16px - 24px */
            font-size: clamp(1rem, 2.3vw, 1.25rem);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            /* 28px - 40px */
            margin: 0 0 clamp(1.75rem, 4vw, 2.5rem) 0;
            color: var(--bodyTextColor);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
	    	font-weight: 700;
            overflow: hidden;
            margin: 0;
            color: #fff;
            padding: 0 (32/16rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            transition: color .3s;

            &:before {
                content: '';
                position: absolute;
                display: block;
                height: 100%;
                width: 0%;
                background: #fff;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width .3s;
            }

            &:hover {
                color: var(--primary);
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-item2, .cs-item3 {
            text-align: left;
            list-style: none;
            overflow: hidden;
            /* 24px - 100px top & Bottom */
            /* 24px - 60px left & right */
            padding: clamp(1.5rem, 10vw, 6.25rem) clamp(1.5rem, 4vw, 3.75rem);
            box-sizing: border-box;
            display: flex;
            grid-column: span 12;
            flex-direction: row;
            align-items: center;
            position: relative;
            z-index: 1;
        
            &:before {
                content: '';
                width: 100%;
                height: 100%;
                background: #FEF0D7;
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }
        
        .cs-item3 {
            &:before {
                background-color: linear-gradient(180deg, #DCE1E4 0.21%, #D5DADE 99.93%);
            }

            .cs-flex {
                width: 50%;
                margin-left: auto;
            }

            .cs-image-group {
                font-size:~"min(3vw, 1em)";
                justify-content: flex-start;
                right: auto;
                left: 0;

                .cs-picture {
                    justify-content: flex-start;
                }
            }
        }

        .cs-flex {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: center;
        }

        .cs-offer {
            width: 85%;
            max-width: (189/16rem);
            height: auto;
            margin: 0 0 (16/16rem) 0;
        }

        .cs-image-group {
            font-size:~"min(1.4vw, 1em)";
            width: 45%;
            height: 90%;
            max-width: (321/16rem);
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;
        }

        .cs-picture {
            width: 100%;
            max-width: (361/16em);
            height: 100%;
            max-height: (321/16em);
            display: flex;
            justify-content: center;
            align-items: flex-end;
        
            img {
                width: 100%;
                max-width: 100%;
                height: auto;
                max-height: (321/16em);
                object-fit: contain;
            }
        }

        .cs-h3 {
            /* 31px - 39px */
            font-size: clamp(1.9375rem, 2.3vw, 2.4375rem);
            line-height: 1.2em;
            font-weight: 700;
            max-width: 16ch;
            margin: 0 0 (28/16rem) 0;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            color: var(--headerColor);
        }

        .cs-link {
            font-size: (16/16rem);
            text-decoration: none;
            text-align: inherit;
            line-height: 1.2em;
            font-weight: 700;
            color: var(--primary);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 1;
        
            &:hover:before {
                width: 100%;
            }

            &:before {
                content: '';
                width: 0%;
                height: 1px;
                background: var(--primary);
                opacity: 1;
                position: absolute;
                display: block;
                bottom: (-2/16rem);
                left: 0;
                transition: width .3s;
            }
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #hero-1590 {
        .cs-container {
            max-width: (1720/16rem);
        }

        .cs-image-group {
            font-size: inherit;
        }
        
        .cs-item {
            grid-column: span 6;
        }

        .cs-item1 {
            grid-column: 7 / span 6;
            grid-row: 1 / span 2;
        }
    }
}
                                                               
</style>