---
import client from "@data/client.json";
import navData from "@data/navData.json";
import { getCurrentYear } from "@js/utils"

const currentYear = getCurrentYear()
---

<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-308">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="/">
                <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/main-logo-compressed.png" alt="logo" width="178" height="32">
            </a>
            <p class="cs-text">
                Transform your home with custom plantation shutters and designer window treatments. Professional installation and exceptional craftsmanship backed by years of experience. Financing options available. Call us today for a free consultation.
            </p>
        </div>
        <!-- Links -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Sitemap</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/">Home</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/about">About</a>
            </li>

            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/warranty">Warranty</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/book">Schedule Appointment</a>
            </li>
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Products</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/shades">Zebra Shades</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/shutters">Shutters</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/motorized">Motorized Shades</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/exterior-shades">Exterior Shades</a>
            </li>
        </ul>
        <!-- Contact Info -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Contact</span>
            </li>
            <li class="cs-nav-li">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/phone-stroke.svg" alt="phone" width="24" height="24">
                <a class="cs-nav-link cs-phone" href="tel: 404-966-7419">404-966-7419</a>
            </li>
            <li class="cs-nav-li">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/email-stroke.svg" alt="email" width="24" height="24">
                <a class="cs-nav-link cs-email" href="mailto:sales@boutiqueshutters.com">sales@boutiqueshutters.com</a>
            </li>
            <li class="cs-nav-li">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/pin-stroke.svg" alt="pin" width="24" height="24">
                <a class="cs-nav-link cs-address" href="https://g.co/kgs/KWBrmdv" target="_blank" rel="noopener">
                    Gwinnett County<br> Greater Atlanta Area, GA
                </a>
            </li>
        </ul>
    </div>
    <div class="cs-bottom">
        <span class="cs-copyright">© Copyright 2025 - <a class="cs-copyright-link" href="/">Boutique Shutters</a></span>
    </div>
</footer>           

<style lang="less">
/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cs-footer-308 {
        padding: var(--sectionPadding);
        background-color: #1a1a1a;

        .cs-container {
            width: 100%;
            /* reset on desktop */
            max-width: (700/16rem);
            margin: auto;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: (40/16rem);
        }

        .cs-logo-group {
            width: 100%;
            position: relative;
        }

        .cs-logo {
            width: (178/16rem);
            height: auto;
            display: block;
            margin-bottom: (24/16rem);
        }

        .cs-logo-img {
            width: 100%;
            height: auto;

            &.dark {
                display: none;
            }
        } 
        .cs-text {
            color: white;
        }
        .cs-nav {
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: (12/16rem);
        }

        .cs-nav-li {
            list-style: none;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .cs-header {
            font-size: (16/16rem);
            line-height: 1.2em;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: (12/16rem);
            color: var(--bodyTextColorWhite);
            position: relative;
            display: block;
        }

        .cs-nav-link {
            font-size: (16/16rem);
            text-decoration: none;
            line-height: 1.5em;
            color: var(--bodyTextColorWhite);
            position: relative;
            display: inline-block;
            transition: color 0.3s;

            &:before {
                /* underline */
                content: "";
                width: 0%;
                height: (2/16rem);
                background: currentColor;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: (-2/16rem);
                left: 0;
                transition: width 0.3s;
            }

            &:hover {
                color: var(--primary);
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-icon {
            width: (24/16rem);
            height: auto;
            margin-right: (12/16rem);
        }

        .cs-bottom {
            max-width: (1280/16rem);
            margin: auto;
            margin-top: (32/16rem);
            padding-top: (24/16rem);
            border-top: 1px solid #484848;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-copyright,
        .cs-copyright-link {
            font-size: (16/16rem);
            line-height: 1.5em;
            color: var(--bodyTextColorWhite);
        }

        .cs-copyright-link {
            text-decoration: none;
            transition: color 0.3s;
            &:hover {
                color: var(--primary);
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cs-footer-308 {
        .cs-container {
            row-gap: 0;
            flex-direction: row;
            justify-content: space-between;
            row-gap: (40/16rem);
        }

        .cs-nav {
            width: auto;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-footer-308 {
        .cs-container {
            max-width: (1280/16rem);
            flex-wrap: nowrap;
            /* align everything to the right */
            justify-content: flex-end;
            column-gap: (84/16rem);
        }

        .cs-logo-group {
            width: 30%;
            max-width: (387/16rem);
            /* pushes away from everything to the right */
            margin-right: auto;
        }

        .cs-text {
            width: 100%;
            color: rgb(255, 255, 255);
        }
    }
}

                                                                                 
</style>