---
import navData from "@data/navData.json";
import { Icon } from 'astro-icon/components';
---

<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
  <div class="cs-top-bar">
      <div class="cs-top-container">
          <!--Nav Logo-->
          <a href="" class="cs-logo" aria-label="back to home">
            <img src="/assets/images/logo.svg" alt="logo" width="197" height="43" aria-hidden="true" decoding="async">
        </a>
          <div class="cs-contact-group">
              <a class="cs-contact-link" href="mailto:info@boutiqueshutters.com">
                  <picture class="cs-wrapper">
                      <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/mail.svg" alt="icon" width="24" height="24">
                  </picture>
                  <div class="cs-info">
                      <span class="cs-header">Email Us</span>
                      <span class="cs-link-content">info@boutiqueshutters.com</span>
                  </div>
              </a>
              <a class="cs-contact-link" href="mailto:info@boutiqueshutters.com">
                  <picture class="cs-wrapper">
                      <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/location.svg" alt="icon" width="24" height="24">
                  </picture>
                  <div class="cs-info">
                      <span class="cs-header">Servicing</span>
                      <span class="cs-link-content">Greater Atlanta Metro Area</span>
                  </div>
              </a>
              <a href="https://book.housecallpro.com/book/Boutique-Shutters/176f03df5e084b4e86c5ab2c418cbf86?v2=true" class="cs-button-solid">Schedule A Consultation</a>
            </div>
      </div>
  </div>
  <!--Wrapped the bottom container in a wrapper div so we can have a full width background color, and centered the container inside of it-->

</header>
<style lang="less">


/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/

/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
    body {
        &.cs-open {
            overflow: hidden;
        }

        &.scroll {
            #cs-navigation {
                .cs-top-container {
                    gap: 0;
                }

                .cs-top-social {
                    height: 0;
                    opacity: 0;
                    overflow: hidden;
                    visibility: hidden;
                }
            }
        }
    }

    #cs-navigation {
        width: 100%;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        background-color: var(--primary);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        position: fixed;
        z-index: 10000;

        &:before {
            content: "";
            width: 100%;
            height: 0vh;
            background: rgba(180, 19, 19, 0.6);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            position: absolute;
            display: block;
            top: 100%;
            right: 0;
            z-index: -1100;
            opacity: 0;
            transition:
                height 0.5s,
                opacity 0.5s;
        }

        &.cs-active {
            &:before {
                height: 150vh;
                opacity: 1;
            }
            .cs-ul-wrapper {
                opacity: 1;
                transform: scaleY(1);
                transition-delay: 0.15s;
            }

            .cs-li {
                transform: translateY(0);
                opacity: 1;
            }
        }

        .cs-top-bar {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-top-container {
            width: 100%;
            /* 16px - 20px */
            padding: clamp(1rem, 2.5vw, 1.25rem) (16/16rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: (16/16rem);
        }

        .cs-contact-group {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            gap: (40/16rem);
            /* sends it to the right in the 2nd position */
            order: 2;
        }

        .cs-contact-link {
            display: none;
        }

        .cs-container {
            width: 100%;
            /* 16px - 20px */
            padding: clamp(1rem, 2.5vw, 1.25rem) (16/16rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            background-color: #1a1a1a;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
        }

        .cs-logo {
            width: auto;
            /* 24px - 32px */
            height: clamp(1.5rem, 3vw, 2rem);
            margin: 0 auto 0 0;
            padding: 0;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            order: 1;
            z-index: 10;

            img {
                width: 100%;
                height: 100%;
                /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
                object-fit: contain;
            }
        }

        .cs-nav {
            order: 2;
        }

        .cs-toggle {
            /* 48px - 56px */
            width: clamp(3rem, 7.2vw, 3.5rem);
            height: clamp(3rem, 7.2vw, 3.5rem);
            margin: 0 0 0 auto;
            background-color: #484848;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: transform 0.6s;

            &.cs-active {
                transform: rotate(180deg);
            }
        }

        .cs-active {
            .cs-line1 {
                top: 50%;
                transform: translate(-50%, -50%) rotate(225deg);
            }

            .cs-line2 {
                top: 50%;
                transform-origin: center;
                transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
            }

            .cs-line3 {
                bottom: 100%;
                opacity: 0;
            }
        }

        .cs-box {
            /* 24px - 28px */
            width: clamp(1.5rem, 2vw, 1.75rem);
            height: (16/16rem);
            position: relative;
        }

        .cs-line {
            width: 100%;
            height: 2px;
            border-radius: 2px;
            background-color: #fafbfc;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .cs-line1 {
            top: 0;
            transform-origin: center;
            transition:
                transform 0.5s,
                top 0.3s,
                left 0.3s;
            animation-duration: 0.7s;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
            animation-direction: normal;
        }

        .cs-line2 {
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            transition:
                top 0.3s,
                left 0.3s,
                transform 0.5s;
            animation-duration: 0.7s;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
            animation-direction: normal;
        }

        .cs-line3 {
            bottom: 0;
            transition:
                bottom 0.3s,
                opacity 0.3s;
        }

        .cs-ul-wrapper {
            width: 100%;
            height: auto;
            padding-bottom: (48/16rem);
            opacity: 0;
            background-color: #fff;
            box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
            overflow: hidden;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: -1;
            transform: scaleY(0);
            transform-origin: top;
            transition:
                transform 0.4s,
                opacity 0.3s;
        }

        .cs-ul {
            margin: 0;
            padding: (48/16rem) 0 0 0;
            width: 100%;
            height: auto;
            max-height: 65vh;
            overflow: scroll;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;
            gap: (20/16rem);
        }

        .cs-li {
            width: 100%;
            text-align: center;
            list-style: none;
            margin-right: 0;
            /* transition from these values */
            transform: translateY(-4.375rem);
            opacity: 0;
            transition:
                transform 0.6s,
                opacity 0.9s;

            &:nth-of-type(1) {
                transition-delay: 0.05s;
            }
            &:nth-of-type(2) {
                transition-delay: 0.1s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.15s;
            }
            &:nth-of-type(4) {
                transition-delay: 0.2s;
            }
            &:nth-of-type(5) {
                transition-delay: 0.25s;
            }
            &:nth-of-type(6) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(7) {
                transition-delay: 0.35s;
            }
            &:nth-of-type(8) {
                transition-delay: 0.4s;
            }
            &:nth-of-type(9) {
                transition-delay: 0.45s;
            }
            &:nth-of-type(10) {
                transition-delay: 0.5s;
            }
            &:nth-of-type(11) {
                transition-delay: 0.55s;
            }
            &:nth-of-type(12) {
                transition-delay: 0.6s;
            }
            &:nth-of-type(13) {
                transition-delay: 0.65s;
            }
        }

        .cs-li-link {
            /* 16px - 24px */
            font-size: clamp(1rem, 2.5vw, 1.5rem);
            line-height: 1.2em;
            text-decoration: none;
            margin: 0;
            color: var(--headerColor);
            display: inline-block;
            position: relative;

            &.cs-active {
                color: var(--primary);
            }

            &:hover {
                color: var(--primary);
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: var(--primary);
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--secondary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-button-solid {
            margin: 0;
            display: none;
        }

        .cs-call {
            text-decoration: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (16/16rem);
            position: relative;

            &:before {
                /* light green circle that animates on hover */
                content: "";
                width: (48/16rem);
                height: (48/16rem);
                background: #eff1f0;
                border-radius: (24/16rem);
                opacity: 1;
                position: absolute;
                display: block;
                top: 50%;
                left: 0;
                z-index: -1;
                transform: translateY(-50%);
                transition:
                    width 0.3s,
                    height 0.3s,
                    border-radius 0.3s;
            }

            .cs-wrapper {
                width: (56/16rem);
                height: (56/16rem);
                background-color: var(--primary);
                display: flex;
                justify-content: center;
                align-items: center;
                /* prevents flexbox from squishing it */
                flex: none;
                transition: transform 0.3s;
            }

            .cs-icon {
                width: (24/16rem);
                height: auto;
                display: block;
                transition: transform 0.3s;
            }

            .cs-info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }

            .cs-header {
                font-size: (14/16rem);
                line-height: 1.2em;
                font-weight: 400;
                margin: 0;
                color: var(--bodyTextColorWhite);
                display: block;
            }

            .cs-link-content {
                font-size: (20/16rem);
                line-height: 1.2em;
                font-weight: 700;
                margin: 0;
                color: var(--bodyTextColorWhite);
                display: block;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cs-navigation {
        .cs-button-solid {
            display: block;
        }
    }
}

/*-- -------------------------- -->
<---     Navigation Dropdown    -->
<--- -------------------------- -*/

/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
    #cs-navigation {
        .cs-li {
            text-align: center;
            width: 100%;
            display: block;
        }

        .cs-dropdown {
            position: relative;
            color: var(--bodyTextColorWhite);
            &.cs-active {
                .cs-drop-ul {
                    height: auto;
                    opacity: 1;
                    visibility: visible;
                    margin: (12/16rem) 0 0 0;
                    padding: (12/16rem) 0;
                }

                .cs-drop-link {
                    opacity: 1;
                }
            }

            .cs-li-link {
                position: relative;
                transition: opacity 0.3s;
            }
        }

        .cs-drop-icon {
            width: (15/16rem);
            height: auto;
            position: absolute;
            top: 50%;
            right: (-20/16rem);
            transform: translateY(-50%);
        }

        .cs-drop-ul {
            width: 100%;
            height: 0;
            margin: 0;
            padding: 0;
            background-color: var(--primary);
            overflow: hidden;
            opacity: 0;
            visibility: hidden;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;
            gap: (12/16rem);
            transition:
                padding 0.3s,
                margin 0.3s,
                height 0.3s,
                opacity 0.3s,
                visibility 0.3s;
        }

        .cs-drop-li {
            list-style: none;
        }

        .cs-li-link {
            &.cs-drop-link {
                /* 14px - 16px */
                font-size: clamp(0.875rem, 2vw, 1.25rem);
                color: #fff;
            }
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-navigation {
        .cs-dropdown {
            position: relative;
            &:hover {
                cursor: pointer;
                .cs-drop-ul {
                    transform: scaleY(1);
                    opacity: 1;
                    visibility: visible;
                }

                .cs-drop-li {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }

        .cs-drop-icon {
            width: (15/16rem);
            height: auto;
            display: inline-block;
        }

        .cs-drop-ul {
            min-width: (200/16rem);
            margin: 0;
            padding: 0;
            background-color: #fff;
            overflow: hidden;
            opacity: 0;
            visibility: hidden;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 16px;
            border-bottom: 5px solid var(--primary);
            /* if you have 8 or more links in your dropdown nav, uncomment the columns property to make the list into 2 even columns. Change it to 3 or 4 if you need extra columns. Then remove the transition delays on the cs-drop-li so they don't have weird scattered animations */
            // columns: 2;
            position: absolute;
            top: 100%;
            z-index: -100;
            transform: scaleY(0);
            transform-origin: top;
            transition:
                transform 0.3s,
                visibility 0.3s,
                opacity 0.3s;
        }

        .cs-drop-li {
            list-style: none;
            font-size: (16/16rem);
            text-decoration: none;
            opacity: 0;
            width: 100%;
            height: auto;
            display: block;
            transform: translateY(-0.625rem);
            transition:
                opacity 0.6s,
                transform 0.6s;

            &:nth-of-type(1) {
                transition-delay: 0.05s;
            }
            &:nth-of-type(2) {
                transition-delay: 0.1s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.15s;
            }
            &:nth-of-type(4) {
                transition-delay: 0.2s;
            }
            &:nth-of-type(5) {
                transition-delay: 0.25s;
            }
            &:nth-of-type(6) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(7) {
                transition-delay: 0.35s;
            }
            &:nth-of-type(8) {
                transition-delay: 0.4s;
            }
            &:nth-of-type(9) {
                transition-delay: 0.45s;
            }
            &:nth-of-type(10) {
                transition-delay: 0.5s;
            }
            &:nth-of-type(11) {
                transition-delay: 0.55s;
            }
            &:nth-of-type(12) {
                transition-delay: 0.6s;
            }
            &:nth-of-type(13) {
                transition-delay: 0.65s;
            }
        }

        .cs-li-link {
            &.cs-drop-link {
                font-size: (16/16rem);
                white-space: nowrap;
                line-height: 1.5em;
                text-transform: capitalize;
                text-decoration: none;
                width: 100%;
                padding: (12/16rem);
                /* prevents padding and border from affecting height and width */
                box-sizing: border-box;
                color: var(--bodyTextColor);
                display: block;
                transition:
                    color 0.3s,
                    background-color 0.3s;

                &:hover {
                    color: var(--primary);
                    background-color: #f7f7f7;
                }

                &:before {
                    display: none;
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-navigation {
        width: 100%;
        padding: 0;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        background-color: var(--headerColor);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        position: fixed;
        z-index: 10000;

        .cs-top-bar {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-top-container {
            width: 100%;
            max-width: (1280/16rem);
            padding: (16/16rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: (24/16rem);
        }

        .cs-contact-group {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: (24/16rem);
        }

        .cs-contact-link {
            text-decoration: none;
            padding-right: (30/16rem);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (16/16rem);
            position: relative;
            perspective: 200px;
            transform-style: preserve-3d;

            &:nth-of-type(2) {
                display: none;
            }

            &:hover {
                .cs-wrapper {
                    transform: rotateY(180deg);
                }
            }
        }

        .cs-wrapper {
            width: (56/16rem);
            height: (56/16rem);
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            position: relative;
            z-index: 1;
            transition: transform 0.6s;

            &:before {
                /* backgorund color in pseudo so we can use the primary color variable and use opacity */
                content: "";
                width: 100%;
                height: 100%;
                background-color: var(--primary);
                opacity: 0.1;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
            }
        }

        .cs-icon {
            width: (24/16rem);
            height: auto;
            display: block;
            transition: transform 0.3s;
        }

        .cs-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (4/16rem);
        }

        .cs-header {
            font-size: (16/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--bodyTextColorWhite);
            display: block;
        }

        .cs-link-content {
            font-size: (14/16rem);
            line-height: 1.2em;
            font-weight: 400;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #1a1a1a;
            min-width: (150/16rem);
            padding: 0 (48/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-bottom-bar {
            width: 100%;
            background-color: var(--primaryLight);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            padding: 0 (16/16rem);
            /* prevents padding from affectin gheight */
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: (24/16rem);
            position: relative;
            background-color: var( --primaryLight);
        }

        .cs-toggle {
            display: none;
        }

        .cs-logo {
            width: 18.4%;
            max-width: (197/16rem);
            height: (60/16rem);
            /* margin-right auto pushes everything away from it to the right */
            margin: 0 auto 0 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 100;

            img {
                width: 100%;
                height: 100%;
                /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
                object-fit: contain;
            }
        }

        .cs-ul {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (36/16rem);
        }

        .cs-li {
            list-style: none;
            padding: (36/16rem) 0;
            /* prevent flexbox from squishing it */
            flex: none;
        }

        .cs-li-link {
            font-size: (16/16rem);
            text-transform: uppercase;
            line-height: 1.5em;
            text-decoration: none;
            margin: 0;
            color: var(--bodyTextColorWhite);
            display: block;
            position: relative;
            transition: color 0.3s;

            &:hover {
                color: var(--primary);
            }

            &.cs-active {
                font-weight: 700;
                color: var(--primary);
            }
        }

        .cs-call {
            text-decoration: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (16/16rem);
            position: relative;
            perspective: 200px;
            transform-style: preserve-3d;

            &:hover {
                &:hover {
                    .cs-wrapper {
                        transform: rotateY(180deg);
                    }
                }
            }

            .cs-wrapper {
                width: (56/16rem);
                height: (56/16rem);
                background-color: var(--primary);
                display: flex;
                justify-content: center;
                align-items: center;
                /* prevents flexbox from squishing it */
                flex: none;
                transition: transform 0.6s;
            }

            .cs-icon {
                width: (24/16rem);
                height: auto;
                display: block;
                transition: transform 0.3s;
            }

            .cs-info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }

            .cs-header {
                font-size: (14/16rem);
                line-height: 1.2em;
                font-weight: 400;
                margin: 0;
                color: var(--bodyTextColorWhite);
                display: block;
            }

            .cs-link-content {
                font-size: (20/16rem);
                line-height: 1.2em;
                font-weight: 700;
                margin: 0;
                color: var(--bodyTextColorWhite);
                display: block;
            }
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 75rem) {
    #cs-navigation {
        .cs-contact-link {
            &:nth-of-type(2) {
                display: flex;
            }
        }
    }
}

/* Larger Desktop - 1200px */
@media only screen and (min-width: 100rem) {
    #cs-navigation {
        .cs-donate {
            display: flex;
            margin-left: auto;
        }

        .cs-nav-button {
            margin: 0;
        }
    }
}

                                
</style>
