---
import navData from "@data/navData.json";
import { Icon } from 'astro-icon/components';
---

<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <!--Nav Logo-->
    <a href="/" class="cs-logo" aria-label="back to home">
        <img src="/assets/images/main-logo-compressed.png" alt="logo" width="210" height="29" aria-hidden="true" decoding="async">
    </a>
    <!--Top Bar-->
    <ul class="cs-top-bar">
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="/assets/images/icons/Icons_phone-stroke-green.svg" alt="icon" width="24" height="24" aria-hidden="true" decoding="async">
            </picture>
            <div class="cs-flex">
                <span class="cs-header">Call Us Now</span>
                <a href="tel:404-966-7419" class="cs-link">404-966-7419</a>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="/assets/images/icons/Icons_mail-stroke-green.svg" alt="icon" width="24" height="24" aria-hidden="true" decoding="async">
            </picture>
            <div class="cs-flex">
                <span class="cs-header">Send A Message</span>
                <a href="mailto:sales@boutiqueshutters.com" class="cs-link">sales@boutiqueshutters.com</a>
            </div>
        </li>
        <li class="cs-item cs-remove">
            <a href="https://maps.app.goo.gl/314AZ4Dpz98b73GS8" target="_blank" rel="noopener noreferrer" class="cs-review-badge">
                <img src="/assets/images/google.svg" alt="Google" width="24" height="24" decoding="async">
                <div class="cs-flex">
                    <span class="cs-header">
                        <img src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="5 stars" width="80" height="13">
                    </span>
                    <span class="cs-link">4.9 from 50+ Reviews</span>
                </div>
            </a>
        </li>
    </ul>
    <div class="cs-bottom-bar">
        <!--Navigation List-->
        <nav class="cs-nav" role="navigation">
            <!--Mobile Nav Toggle-->
            <button class="cs-toggle" aria-label="mobile menu toggle">
                <div class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1" aria-hidden="true"></span>
                    <span class="cs-line cs-line2" aria-hidden="true"></span>
                    <span class="cs-line cs-line3" aria-hidden="true"></span>
                </div>
            </button>
    <div class="cs-ul-wrapper">
                <ul id="cs-expanded" class="cs-ul">
                    <li class="cs-li">
                        <a href="/" class="cs-li-link cs-active">
                            Home
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/about" class="cs-li-link">
                            About
                        </a>
                    </li>
                    <li class="cs-li cs-dropdown">
                        <span class="cs-li-link">
                            Products
                            <img class="cs-drop-icon" src="/assets/svgs/Icons_down.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                        </span>
                        <ul class="cs-drop-ul">
                            <li class="cs-drop-li">
                                <a href="/shutters" class="cs-li-link cs-drop-link">Plantation Shutters</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/zebra-shades" class="cs-li-link cs-drop-link">Zebra Shades</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/motorized-shades" class="cs-li-link cs-drop-link">Motorized Shades</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/exterior-shades" class="cs-li-link cs-drop-link">Exterior Shades</a>
                            </li>
                        </ul>
                    </li>
                    <li class="cs-li">
                        <a href="/gallery" class="cs-li-link">
                            Gallery
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/blog" class="cs-li-link">
                            Blog
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/warranty" class="cs-li-link">
                            Warranty
                        </a>
                    </li>
                    <li class="cs-li cs-dropdown">
                        <span class="cs-li-link">
                            Locations
                            <img class="cs-drop-icon" src="/assets/svgs/Icons_down.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                        </span>
                        <ul class="cs-drop-ul">
                            <li class="cs-drop-li">
                                <a href="/locations/alpharetta" class="cs-li-link cs-drop-link">Alpharetta</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/locations/auburn" class="cs-li-link cs-drop-link">Auburn</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/locations/braselton" class="cs-li-link cs-drop-link">Braselton</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/locations/buford" class="cs-li-link cs-drop-link">Buford</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/locations/chamblee" class="cs-li-link cs-drop-link">Chamblee</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/locations/cumming" class="cs-li-link cs-drop-link">Cumming</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/locations/dacula" class="cs-li-link cs-drop-link">Dacula</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/locations/decatur" class="cs-li-link cs-drop-link">Decatur</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/locations/doraville" class="cs-li-link cs-drop-link">Doraville</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/locations/duluth" class="cs-li-link cs-drop-link">Duluth</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/locations/grayson" class="cs-li-link cs-drop-link">Grayson</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/locations/hoschton" class="cs-li-link cs-drop-link">Hoschton</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/locations/johns-creek" class="cs-li-link cs-drop-link">Johns Creek</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/locations/lawrenceville" class="cs-li-link cs-drop-link">Lawrenceville</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/locations/marietta" class="cs-li-link cs-drop-link">Marietta</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/locations/norcross" class="cs-li-link cs-drop-link">Norcross</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/locations/peachtree-corners" class="cs-li-link cs-drop-link">Peachtree Corners</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/locations/roswell" class="cs-li-link cs-drop-link">Roswell</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/locations/snellville" class="cs-li-link cs-drop-link">Snellville</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/locations/sugar-hill" class="cs-li-link cs-drop-link">Sugar Hill</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/locations/suwanee" class="cs-li-link cs-drop-link">Suwanee</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/locations/tucker" class="cs-li-link cs-drop-link">Tucker</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/locations/winder" class="cs-li-link cs-drop-link">Winder</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <a href="/book" class="cs-button-solid cs-nav-button" data-lead-form>Free Quote</a>
    </div>
</header>
                                                              
<style lang="less">
/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/

/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
    body {
        &.cs-open {
            overflow: hidden;
        }
    }
    
    #cs-navigation {
        width: 100%;
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
        padding: (12/16rem) (16/16rem);
        background-color: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        position: fixed;
        z-index: 10000;

        &:after {
            /* on hover green bar */
            content: '';
            width: 40%;
            max-width: (146/16rem);
            height: 100%;
            //BG color of main logo
            background: #000000;
            opacity: 1;
            display: block;
            position: absolute;
            top: 0;
            left: 0%;
            z-index: -1;
            transition: width .2s, max-width .3s, background-color .3s;
        }

        &:before {
            content: '';
            width: 100%;
            height: 0vh;
            background: rgba(0, 0, 0, .6);
            opacity: 0;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -11;
            transition: height .5s, opacity .3s;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
        }
        &.cs-active {
            &:after {
                width: 100%;
                max-width: 100%;
                background-color: #484848;
            }

            &:before {
                height: 150vh;
                opacity: 1;
            }

            .cs-top-bar {
                z-index: initial;
                &:before {
                    display: none;
                }
            }

            .cs-link {
                color: var(--csTextColor);
            }

            .cs-ul-wrapper {
                opacity: 1;
                transform: scaleY(1);
                transition-delay: .2s;
            }

            .cs-li {
                opacity: 1;
                transform: translateY(0);
            }
        }

        &.scroll {
            .cs-top-bar {
                height: 0;
                padding-bottom: 0;
                overflow: hidden;
                opacity: 0;
                &:before {
                    opacity: 0;
                }
            }

            .cs-toggle {
                margin-top: 0;
            }
        }

        .cs-top-bar {
            margin: 0;
            padding: 0 0 (12/16rem) 0;
            position: relative;
            z-index: -3;
            transition: height .3s, padding-bottom .3s, opacity .3s;
            &:before {
                /* grey line */
                content: '';
                width: 100%;
                height: 1px;
                background: #EFF1F0;
                opacity: 1;
                display: block;
                position: absolute;
                right: (-16/16rem);
                bottom: 0;
                z-index: -2;
                transition: opacity .3s;
            }
        }

        .cs-logo {
            width: 40%;
            max-width: (146/16rem);
            height: 100%;
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            padding: (12/16rem) (16/16rem);
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;

            img {
                width: 100%;
                height: 100%;
                /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
                object-fit: contain;
            }
        }

        .cs-item {
            list-style: none;
            margin: 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .cs-remove {
            display: none;
        }

        .cs-picture {
            width: (32/16rem);
            height: (32/16rem);
            margin-right: (16/16rem);
            background-color: #EFF1F0;
            border-radius: 50%;
            display: none;
            justify-content: center;
            align-items: center;
            transition: background-color .3s;
        }

        .cs-icon {
            width: (16/16rem);
            height: auto;
            display: block;
            filter: brightness(0) saturate(100%) invert(69%) sepia(84%) saturate(2618%) hue-rotate(15deg) brightness(95%) contrast(101%);
        }

        .cs-header {
            display: none;
        }
        // Mobile Navigation Links
        .cs-link {
            font-size: (14/16rem);
            line-height: 1.5em;
            text-align: inherit;
            text-decoration: none;
            margin: 0;
            color: var(--csTextColor);
            display: block;
            transition: color .3s;
        }

        .cs-toggle {
            /* 44px - 48px */
            width: clamp(2.75rem, 6vw, 3rem);
            height: clamp(2.75rem, 6vw, 3rem);
            margin: (12/16rem) 0 0 auto;
            background-color: #484848;
            border: none;
            border-radius: (4/16rem);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-active {
            .cs-line1 {
                top: 50%;
                transform: translate(-50%, -50%) rotate(225deg);
            }

            .cs-line2 {
                top: 50%;
                transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
                transform-origin: center;
            }

            .cs-line3 {
                opacity: 0;
                bottom: 100%;
            }
        }

        .cs-box {
            /* 24px - 28px */
            width: clamp(1.5rem, 2vw, 1.75rem);
            /* 14px - 16px */
            height: clamp(.875rem, 1.5vw, 1rem);
            position: relative;
        }

        .cs-line {
            width: 100%;
            height: 2px;
            background-color: #fff;
            border-radius: 2px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .cs-line1 {
            top: 0;
            transition: transform .5s, top .3S, left .3S;
            animation-duration: .7s;
            animation-timing-function: ease;
            animation-direction: normal;
            animation-fill-mode: forwards;
            transform-origin: center;
        }

        .cs-line2 {
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            transition: top .3s, left .3s, transform .5s;
            animation-duration: .7s;
            animation-timing-function: ease;
            animation-direction: normal;
            animation-fill-mode: forwards;
        }

        .cs-line3 {
            bottom: 0;
            transition: bottom .3s, opacity .3s;
        }

        .cs-ul-wrapper {
            width: 100%;
            background-color: #fff;
            overflow: hidden;
            box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
            opacity: 0;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: -1;
            transform: scaleY(0);
            transition: transform .4s, opacity .3s;
            transform-origin: top;
        }

        .cs-ul {
            width: 100%;
            height: auto;
            max-height: 65vh;
            margin: 0;
            padding: (48/16rem) 0 (48/16rem) 0;
            overflow: scroll;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: (20/16rem);
        }

        .cs-li {
            list-style: none;
            width: 100%;
            margin-right: 0;
            opacity: 0;
            /* transition from these values */
            transform: translateY(-4.375rem);
            transition: transform .6s, opacity .9s;

            &:nth-of-type(1) {
                transition-delay: .05s;
            }
            &:nth-of-type(2) {
                transition-delay: .1s;
            }
            &:nth-of-type(3) {
                transition-delay: .15s;
            }
            &:nth-of-type(4) {
                transition-delay: .2s;
            }
            &:nth-of-type(5) {
                transition-delay: .25s;
            }
            &:nth-of-type(6) {
                transition-delay: .3s;
            }
            &:nth-of-type(7) {
                transition-delay: .35s;
            }
            &:nth-of-type(8) {
                transition-delay: .4s;
            }
            &:nth-of-type(9) {
                transition-delay: .45s;
            }
        }

        .cs-li-link {
            /* 16px - 24px */
            font-size: clamp(1rem, 2.5vw, 1.5rem);
            line-height: 1.2em;
            text-decoration: none;
            margin: 0;
            color: var(--headerColor);
            display: inline-block;
            position: relative;

            &:before {
                /* active state underline */
                content: '';
                width: 100%;
                height: 1px;
                background: currentColor;
                opacity: 1;
                display: none;
                position: absolute;
                bottom: (-2/16rem);
                left: 0;
            }

            &.cs-active {
                &:before {
                    display: block;
                }
            }
        }

        .cs-button-solid {
            display: none;
        }
    }

}

/* Tablet - 650px - 1023px */
@media only screen and (min-width: 40.625rem) and (max-width: 63.9375rem) {
    #cs-navigation {
        .cs-top-bar {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }

        .cs-item {
            position: relative;

            &:nth-of-type(2) {
                &:after {
                    display: none;
                }
            }

            &:after {
                /* divider line */
                content: '';
                width: 1px;
                height: 100%;
                margin: 0 (16/16rem);
                background: #EFF1F0;
                opacity: 1;
                display: block;
                position: relative;
            }
        }

        .cs-picture {
            display: flex;
        }

        .cs-ul {
            padding-top: (75/16rem);
            gap: (32/16rem);
        }

        .cs-li-link {
            font-size: (24/16rem);
        }
    }
}

/*-- -------------------------- -->
<---     Navigation Dropdown    -->
<--- -------------------------- -*/ 

/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
    #cs-navigation {
        .cs-li {
            text-align: center;
            width: 100%;
            display: block;
        }
        .cs-li-link.cs-dropdown-button {
                    background-color: trasparent; /* Change from light/white to your dark color */
                    border: none; /* Remove border */
                    color: #484848; /* Keep text white/visible */
        }
        .cs-dropdown {
            color: var(--bodyTextColorWhite);
            position: relative;
            &.cs-active {
                .cs-drop-ul {
                    height: auto;
                    margin: (12/16rem) 0 0 0;
                    padding: (12/16rem) 0;
                    opacity: 1;
                    visibility: visible;
                }

                .cs-drop-link {
                    opacity: 1;
                }
            }

            .cs-li-link {
                position: relative;
                transition: opacity .3s;
                background-color: transparent;
            }
        }

        .cs-drop-icon {
            width: (15/16rem);
            height: auto;
            position: absolute;
            top: 50%;
            right: (-20/16rem);
            transform: translateY(-50%) rotate(180deg);
        }

        .cs-drop-ul {
            width: 100%;
            height: 0;
            margin: 0;
            padding: 0;
            background-color: #ffffff;
            overflow: hidden;
            opacity: 0;
            display: flex;
            visibility: hidden;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: (12/16rem);
            transition: padding .3s, margin .3s, height .3s, opacity .3s, visibility .3s;
        }

        .cs-drop-li {
            list-style: none;
        }

        .cs-li-link {
            &.cs-drop-link {
                /* 14px - 16px */
                font-size: clamp(.875rem, 2vw, 1.25rem);
                color: #000000;
            }
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-navigation {
        .cs-dropdown {
            position: relative;
            &:hover {
                cursor: pointer;
                .cs-drop-ul {
                    opacity: 1;
                    visibility: visible;
                    transform: scaleY(1);
                }

                .cs-drop-li {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
        .cs-li-link.cs-dropdown-button {
            background-color: transparent; /* Change from light/white to your dark color */
            border: none; /* Remove border */
            color: #484848; /* Keep text white/visible */
        }
        .cs-drop-icon {
            width: (15/16rem);
            height: auto;
            display: inline-block;
        }

        .cs-drop-ul {
            min-width: (200/16rem);
            margin: 0;
            padding: 0;
            //bg color of dropdown
            background-color: #ffffff;
            overflow: hidden;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 16px;
            opacity: 0;
            border-bottom: 5px solid var(--primary);
            visibility: hidden;
            /* if you have 8 or more links in your dropdown nav, uncomment the columns property to make the list into 2 even columns. Change it to 3 or 4 if you need extra columns. Then remove the transition delays on the cs-drop-li so they don't have weird scattered animations */
            columns: 3;
            position: absolute;
            top: 100%;
            z-index: -100;
            transform: scaleY(0);
            transition: transform .3s, visibility .3s, opacity .3s;
            transform-origin: top;
        }

        .cs-drop-li {
            font-size: (16/16rem);
            text-decoration: none;
            list-style: none;
            width: 100%;
            height: auto;
            color: var(--bodyTextColor);
            opacity: 0;
            display: block;
            transform: translateY(-10/16rem);
            transition: opacity .6s, transform .6s;

            &:nth-of-type(1) {
                transition-delay: .05s;
            }
            &:nth-of-type(2) {
                transition-delay: .1s;
            }
            &:nth-of-type(3) {
                transition-delay: .15s;
            }
            &:nth-of-type(4) {
                transition-delay: .2s;
            }
            &:nth-of-type(5) {
                transition-delay: .25s;
            }
            &:nth-of-type(6) {
                transition-delay: .3s;
            }
            &:nth-of-type(7) {
                transition-delay: .35s;
            }
            &:nth-of-type(8) {
                transition-delay: .4s;
            }
            &:nth-of-type(9) {
                transition-delay: .45s;
            }
            &:nth-of-type(10) {
                transition-delay: .5s;
            }
            &:nth-of-type(11) {
                transition-delay: .55s;
            }
            &:nth-of-type(12) {
                transition-delay: .6s;
            }
            &:nth-of-type(13) {
                transition-delay: .65s;
            }
        }

        .cs-li-link {
            &.cs-drop-link {
                font-size: (16/16rem);
                line-height: 1.5em;
                text-decoration: none;
                white-space: nowrap;
                width: 100%;
                /* prevents padding from affecting height and width */
                box-sizing: border-box;
                padding: (12/16rem);
                color: var(--primary);
                display: block;
                transition: color .3s, background-color .3s;
    
                &:hover {
                    background-color: #969696;
                }
    
                &:before {
                    display: none;
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-navigation {
        width: 100%;
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
        padding: (16/16rem) (16/16rem) 0 (16/16rem);
        background-color: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        position: fixed;
        z-index: 10000;
        transition: padding-top .3s;

        &.scroll {
            padding-top: 0;
            .cs-top-bar {
                height: 0;
                margin-bottom: 0;
                padding-bottom: 0;
                overflow: hidden;
                opacity: 0;
                transform: translateY(-50/16rem);
                &:before {
                    width: 0;
                }
            }

            .cs-toggle {
                margin-top: 0;
            }
        }

        .cs-toggle {
            display: none;
        }

        .cs-logo {
            width: 18.4%;
            max-width: (320/16rem);
            height: 100%;
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            /* 32px - 48px */
            padding: (16/16rem) clamp(2rem, 3vw, 3rem);
            background-color: var(--primary);
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 100;

            img {
                width: 100%;
                height: 100%;
                /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
                object-fit: contain;
            }
        }

        .cs-top-bar {
            width: 100%;
            margin: 0;
            padding: 0 0 (16/16rem) 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: relative;
            transition: height .3s, opacity .3s, padding-bottom .3s, margin-bottom .3s, transform .3s;
            &:before {
                /* grey line */
                content: '';
                width: 100%;
                height: 1px;
                background: #EFF1F0;
                opacity: 1;
                display: block;
                position: absolute;
                right: (-16/16rem);
                bottom: 0;
                z-index: -2;
                transition: width .3s;
            }
        }

        .cs-item {
            list-style: none;
            margin: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            &:last-of-type {
                &:after {
                    display: none;
                }
            }

            &:hover {
                .cs-picture {
                    transform: scale(1.1);
                }
            }

            &:after {
                /* divider line */
                content: '';
                width: 1px;
                height: (48/16rem);
                /* 24px - 44px */
                margin: 0 clamp(1.5rem, 5vw, 2.75rem);
                background: #EFF1F0;
                opacity: 1;
                display: block;
                position: relative;
            }
        }

        .cs-picture {
            width: (48/16rem);
            height: (48/16rem);
            margin-right: (16/16rem);
            background-color: #EFF1F0;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: transform .3s;
        }

        .cs-icon {
            width: (24/16rem);
            height: auto;
            display: block;
            filter: brightness(0) saturate(100%) invert(69%) sepia(84%) saturate(2618%) hue-rotate(15deg) brightness(95%) contrast(101%);
        }

        .cs-header {
            font-size: (16/16rem);
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
            display: block;
        }
        
        .cs-link {
            font-size: (14/16rem);
            line-height: 1.5em;
            text-align: inherit;
            text-decoration: none;
            margin: 0;
            color: var(--csTextColor);
            display: block;
            transition: color .3s;
            &:hover {
                text-decoration: underline;
            }
        }

        .cs-review-badge {
            display: flex;
            align-items: center;
            gap: (12/16rem);
            text-decoration: none;
            transition: opacity 0.3s;

            &:hover {
                opacity: 0.8;
            }

            img:first-child {
                width: (28/16rem);
                height: (28/16rem);
            }

            .cs-header {
                display: flex;
                align-items: center;

                img {
                    width: (80/16rem);
                    height: auto;
                }
            }

            .cs-link {
                font-size: (13/16rem);
                font-weight: 600;
                color: var(--csTextColor);
            }
        }

        .cs-bottom-bar {
            width: 100%;
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            /* 235px - 420px */
            padding: 0 0 0 clamp(14.6875rem, 23vw, 26.25rem);
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 32/16rem;
        }

        .cs-ul {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            /* 20px - 36px */
            gap: clamp(1.25rem, 2.6vw, 2.25rem);
        }

        .cs-li {
            list-style: none;
            padding: (32/16rem) 0;
            /* prevent flexbox from squishing it */
            flex: none;
            &:last-of-type {
                /* pushes the button to the far right */
                margin-left: auto;
                padding: 2rem 0;
            }
        }

        .cs-li-link {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1vw, 1rem);
            line-height: 1.5em;
            text-decoration: none;
            margin: 0;
            color: var(--primary);
            display: block;
            position: relative;
            &:hover {
                &:before {
                    width: 100%;
                }
            }

            &.cs-active {
                &:before {
                    width: 100%;
                }
            }

            &:before {
                /* active state underline */
                content: '';
                width: 0%;
                height: 2px;
                background: var(--primary);
                opacity: 1;
                display: block;
                position: absolute;
                bottom: (0/16rem);
                left: 0;
                transition: width .3s;
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
	    	font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
	        text-align: center;
            text-decoration: none;
            min-width: (150/16rem);
            margin: 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            padding: 0 (24/16rem);
            //background-color: var(--primary);
            color: var(--csButtonTextColor);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: '';
                width: 0%;
                height: 100%;
                background: var(--csButtonHoverColor);
                opacity: 1;
                border-radius: (4/16rem);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width .3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-nav-button {
            margin-left: auto;
            border-radius: 0;
        }
    }
}
                                                                                         
</style>